@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');


body {
    font-family: michroma, serif;
    background: linear-gradient(90deg, #00009c 0%, #000000 100%);
}

p {
    color: aquamarine;
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(157, 75, 208);
}

.navbar-brand img {
    width: 40px;
}

.navbar-toggler {
    background-color: rgb(157, 75, 208);
}

.sidebar {
    color: aquamarine;
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);

}

.card {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    
}

.card a {
    text-decoration: none;
    color: aquamarine;
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

@media (max-width: 769px) {
    .carousel-indicators {
        display: none;
    }
}